body {
    margin: 50px;
}
h1 {
    text-align: center;
}





#next-question {
    font-family: Verdana;
    float: left;
    color: white;
    background-color:#0099FF;
    width: 150px;
}
#restart-game {
    font-family: Verdana;
    float: left;
    color: white;
    background-color:#0099FF;
    width: 150px;
}
#time {
    font-family: Verdana;
    float: left;
    color: white;
    background-color:#0099FF;
    width: 50px;
}
#each_question {
    text-align: center;

}